body{
  background-color:#fce5d14c;
}

.App h1{
  text-align: center;
  color:#A23E02;
  font-size: 50px;
}

.App a{
  color: #ffb006;
}


.App{
  max-width: 940px;
  margin: 0 auto;
}

.App-header{
  margin: 40px; 
}

.App-footer{
  text-align: center;
  margin: 30px 0;
  font-size: 18px;
  color:#A23E02;
}
