.Dictionary h2{
    font-size: 18px;
    font-weight: bold;
    color:#A23E02;
    margin-bottom: 20px;
}

.Dictionary section{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0/10%);
    margin: 20px 0;
}

.Dictionary input{
    width: 100%;
    border-radius: 6px;
    padding: 2px 4px;
    border: 1.5px solid #ddd;
    color: #333333da;
}

.Dictionary .hint{
font-size: 12px;
color: #333333ce;
margin-top: 5px;
}

